<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>client form page</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
</head>
<body>

<!--
   In Thymeleaf the equivalent of
   JSP's ${pageContext.request.contextPath}/edit.html
   would be @{/edit.html}
   -->

<form th:action="@{/clients/form}"
      th:object="${client}" method="POST" style="margin-left: 20px">
    <input type="hidden" th:field="*{id}"/>
    <div class="mb-3">
    <label for="prefix" class="form-label">Префикс клиента</label>
    <input type="text" th:field="*{prefix}" class="form-control" id="prefix" style="width: 80px" maxlength="5"/>
    </div>
    <div class="mb-3">
        <label for="short-name" class="form-label">Краткое наименование</label>
    <input type="text" th:field="*{shortName}" class="form-control" id="short-name" style="width: 200px;" maxlength="16"/>
    </div>
    <div class="mb-3">
        <label for="full-name" class="form-label">Полное наименование</label>
        <input type="text" th:field="*{name}" class="form-control" id="full-name" style="width: 600px"/>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>

<br/>

<!-- Check if errorMessage is not null and not empty -->

<!--<div th:if="${errorMessage}" th:utext="${errorMessage}"-->
<!--     style="color:red;font-style:italic;">-->
<!--    ...-->
<!--</div>-->
</body>
</html>