<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <title>hello page</title>
</head>
<body style="margin-right: auto; margin-left: auto;">
<div>
    <table class="table table-striped table-hover table-bordered" style="text-align: center; margin: 20px; width: 97%">
        <tr class="table-primary ">
            <th>Id работника</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Отчество</th>
            <th>Действия</th>
        </tr>
        <tr th:each ="employee : ${employees}">
            <td th:utext="${employee.id}">...</td>
            <td th:utext="${employee.firstName}">...</td>
            <td th:utext="${employee.lastName}">...</td>
            <td th:utext="${employee.patronymic}">...</td>
            <td><a th:href="@{/employees/update(employeeId=${employee.id})}" class="btn btn-outline-info">Изменить</a>
                <a th:href="@{/employees/delete(employeeId=${employee.id})}"
                   class="btn btn-outline-danger"
                onclick="if(!(confirm('Вы уверены, что хотите удалить этого работника?'))) return false">Удалить</a></td>
        </tr>
    </table>
    <a th:href="@{/employees/create}" class="btn btn-primary" style="margin: 20px">Добавить</a>
</div>
</body>
</html>