<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
</head>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-primary" >
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Домашняя страница</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/clients">Клиенты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/employees">Сотрудники</a>
                </li>
            </ul>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false" sec:authentication="name">
                    Dropdown button
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="/logout">Выйти</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
</html>